<div class="container text-center">
    <div class="row">
        <div class="col">
            <h4>{{actors.name}}</h4>
            <img src="{{actors.Img}}" style="width:150px;height:200px">
        </div>
        <div class="col">
            <table class="">
                <tr>
                    <th scope="col">Age</th>
                    <td>{{actors.age}}</td>
                </tr>
                <tr>
                    <th scope="col">Country</th>
                    <td>{{actors.country}}</td>
                </tr>
                <tr>
                    <th scope="col">Live In</th>
                    <td>{{actors.liveIn}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>